body {
    background-color: white;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

.ymaps-2-1-79-balloon__content {
    padding: 0px !important;
}

.ymaps-2-1-79-balloon {
    box-shadow: none !important;
}

.ymaps-2-1-79-balloon__layout {
    width: 350px !important;
    background: none !important;
    border-radius: 20px 20px 20px 20px;
}

.custom-balloon {
    display: flex;
    font-family: Arial, sans-serif;
}
.custom-balloon img {
    height: 130px;
}
.custom-balloon .content {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    padding:0px;
}

.custom-balloon .about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 10px;
    margin-top: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #959DA7;
}

.custom-balloon .header {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #0F67CF;
    padding: 0px 0px 0px 10px;
    margin-top:-5px;
    margin-bottom: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;     
    overflow: hidden; 
    max-width: 190px;
}

.custom-balloon .rating__reviews {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px 0px 0px 10px;
    margin-bottom:-5px;
    gap: 5px;
}

.custom-balloon .reviews {
    width: 55px;
    height: 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #959DA7;
}

.custom-balloon .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 16px;
    border-radius: 100px;
    color: #FFFFFF;
    cursor: default;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.custom-balloon .rating.high {
    background: #0D9333;
}

.custom-balloon .rating.low {
    background: #C6BF15;
}

.custom-balloon .people {
    width: 113px;
    height: 16px;
    padding: 0px 0px 0px 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #959DA7;
    top:10px;
    margin-top:10px;
    margin-bottom: -5px;
}

.custom-balloon .rubles {
    padding: 0px 0px 0px 10px;
    top:10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #0B1827;
    margin-bottom:10px;
}

.ymaps-2-1-79-balloon__close-button {
    border-radius: 20px 20px 20px 20px;
    background: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

.ymaps-2-1-79-balloon__close {
    background: none !important;
    opacity: 0 !important;
    pointer-events: none !important; 
}

.ymaps-2-1-79-balloon__tail {
    display: none !important;
}
.ymaps-2-1-79-gototaxi__container, .ymaps-2-1-79-copyright__content-cell, .ymaps-2-1-79-copyright__logo-cell,.ymaps-2-1-79-gototech ,.ymaps-2-1-79-gotoymaps__container {
    display: none !important;   
}

@media only screen and (min-width:1024px){

.pullout{
    display: none;
}
.acc {
    display: none;
}

.bag {
    display: none;
}

main {
    margin: 0 auto;
    display: flex;
    height:auto;
    flex-direction: row;
    justify-content: center;
    padding:30px;
    background-color: #f6f6f6;
    gap:30px;
}
#map {
    display: flex;
    width: 432px;
    height: 845px;
}
section.container{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.card_title p{
    margin:0px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.card_title2 p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #0B1827;
    margin-bottom:0px;
    margin-top:0px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 896px;
    height: 258px;
    background: #FFFFFF;
    border-radius: 20px;
    z-index: 1;
}
.photo {
    width: 290px;
    height: 258px;
    border-radius: 20px;
    position: relative;
    margin-right: 20px;
}

.photo.hotel img {
    width: auto;
    border-radius: 20px;
}


  .slider_dots {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 93%;
    left: 56%;
    z-index: 2;
    transform: translateX(-50%);
  }

  
.slider_images {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
  }
  
  .slider_dots .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #B6BEC7;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .slider_dots .dot.active {
    background-color: #FFFFFF;
  }
  .slide {
    object-fit: contain;
    display: none;
  }
  
  .slide.active {
    display: block;
  }


.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 20px;
    gap: 14px;
    width: 606px;
    height: 258px;
    background: #FFFFFF;
    border-radius: 0px 20px 20px 0px;
}

.info-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    border-bottom: 1px solid rgba(11, 24, 39, 0.2);
    width: 566px;
}


.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 130px;
    margin-bottom:10px;
}
.column3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
}
.column2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}
.adress {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #959DA7;
    margin:0px;
    width:320px;
}
.metro {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    align-content: center;
    margin-top:0px;
    width:320px;
}

.metro_photo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background: #E3EDF9;
    border-radius: 100px;
}
.metro_photo img {
    width: 12px;
    height: 8px;
    margin-bottom:2px;
}

.about-room {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

.bed-name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #0B1827;
    margin:0px;
}

.bed {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #0B1827;
    margin:0px;
}

.station {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #0B1827;
}

.distance {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.icons img{
    width: 24px;
    height: 24px;
}

.special {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 550px;
    width: 896px;
    height: 62px;
    background: #E1FFEA;
    border-radius: 0px 0px 20px 20px;
    margin-top:-50px;
}

.person {
    width: 225px;
    height: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #0D9333;
    margin-left: 20px;
    margin-top:20px;
    margin-bottom:0px;
}

.time-clock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:20px;
    gap:4px;
    margin-top:20px;
    margin-bottom:0px;
}
.time-clock img {
    width: 18px;
    height: 18px;
}
.time-clock p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;  
    color: #0D9333;
}

.special2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 550px;
    width: 896px;
    height: 62px;
    background: #FFBFC2;
    border-radius: 0px 0px 20px 20px;
    margin-top:-50px;
}

.person2 {
    width: 225px;
    height: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #E3353E;
    margin-left: 20px;
    margin-top:20px;
    margin-bottom:0px
}

.time-clock2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:20px;
    gap:4px;
    margin-top:20px;
    margin-bottom:0px;
}

.time-clock img {
    width: 18px;
    height: 18px;
}

.time-clock2 p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #E2353E;
}

.distance p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #959DA7;
    margin:0px;
}
.advantages{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width:355px;
}
.ot_centra {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #959DA7;
    margin:0px;
}

.free {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #0D9333;
    width: 122px;
    height: 40px;
}

.pay {
    width: 101px;
    height: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #E3353E;
}

.nobreakfast {
    width: 81px;
    height: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #1E1E1E;
}

.breakfast {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #0D9333;
    width: 106px;
    height: 40px;
}

.payment {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #0B1827;
    width: 103px;
    height: 40px;
}

.row4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 90px;
}
.column4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    margin: 0 auto;
}
.offer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
    margin: 0 auto;
}

.time {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #959DA7;
    margin:0px;
    display:flex;
    align-items: flex-end;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0px;
    gap: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #0B1827;
    margin:0px;
}

.details_button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #E3353E;
    border-radius: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.details_button:hover {
    background: #D3202A;
}

.show_on_map {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #0F67CF;
    margin:0px;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    gap:75px;
}

.column {
    display: flex;
    flex-direction: column;
}
.row2 {
    display: flex;
    flex-direction: row;
    gap:6px;
    width:350px;
}
.row2 img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 1px 2px;
    isolation: isolate;
    width: 26px;
    height: 26px;
}
.ratingandreviews {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 19px;
    margin-top:20px;
    width:140px;
}

.grades {
    height: 19px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #959DA7;
}
.rate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 7px;
    gap: 10px;
    width: 35px;
    height: 19px;
    background: #0D9333;
    border-radius: 100px;
}

.rate2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 7px;
    gap: 10px;
    width: 35px;
    height: 19px;
    background: #C6BF15;
    border-radius: 100px;
}

.value {
    width: 21px;
    height: 19px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.stars {
    width: 62px;
    height: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin:20px 0px 0px 0px;
    line-height: 18px;
    color: #959DA7;
}

.name {
    height: 27px;
    margin:0px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #0F67CF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.best_prise{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 6px;
    position: absolute;
    height:30px;
    left: 10px;
    top: 10px;
    background: rgba(11, 24, 39, 0.3);
    border-radius: 20px;
    z-index: 2;
}

.best_prise img{
    width: 16px;
    height: 16px;
}

.best_prise p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    width: 117px;
    height: 16px;
}

.favorite_hotel {
    position: absolute;
    top: 5%;
    left: 94%;
    width: 17px;
    height: 15px;
    z-index: 2;
}

.favorite_hotel img {
    width: 24px;
    height: auto;
}

.favorite_hotel img.favorite {
    content: url('../pics/favorite_active.svg');
    position: absolute;
    top: 10%;
    left: 10%;
}

.favorite_hotel img:not(.favorite):hover {
    cursor: pointer;
    content: url('../pics/favorite-hover.svg');
}

.favorite_hotel_active {
    position: absolute;
    cursor: pointer;
    top: 5%;
    left: 94%;
    width: 17px;
    height: 15px;
    z-index: 2;
}

header {
    width: 100%;
    height: 79px;
    background: #FFFFFF;
    border-bottom: 1px solid #DEDEDE;
}

.head {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    max-width: auto;
    height: 79px;
}

.left__part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.logo img {
    width: 158px;
    height: 23px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.button {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #959DA7;
    text-decoration: none;
}

.button.active {
    color: #051F3E;
}

.button:hover {
    color: #073266;
    cursor: pointer;
}

.right__part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.favorite {
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.favorite img:hover {
    cursor: pointer;
    content: url('../pics/favorite-hover.svg');
}

.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: #E3353E;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.account img {
    width: 20px;
    height: 20px;
}

.account a:hover {
    color: #073266;
    cursor:pointer;
}

.account a {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #0F67CF;
    margin: 0;
    text-decoration: none;
}

footer {
    width:100%;
    height: 103px;
    background-color: #f6f6f6;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 64px;
}
}
@media only screen and (max-width:1024px){
    section {
        display:none;
    }
    .head {
        box-sizing: border-box;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 18px 20px;
        max-width: 100%;
    }

    header {
        height: 59px;
        background: #FFFFFF;
        border-bottom: 1px solid #DEDEDE;
        border-radius: 0px 0px 20px 20px;
        width:100%;
        z-index: 1000;
        position: fixed;
    }

    .left__part {
        width: 158px;
        height: 23px;
    }

    .favorite {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .favorite img{
        width:20px;
        height: 20px;
    }

    .logo {
        width: 156px;
        height: 16px;
    }
    .right__part {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 18px;
        height: 20px;
        margin-bottom:10px;
    }

    .footer {
        display:none;
    }

    .buttons {
        display: none;
    }

    .account a, .account img {
        display: none;
    }

    main {
        margin: 0 auto;
        display: flex;
        height:100%;
        flex-direction: column;
        justify-content: center;
        background-color: #f6f6f6;
    }

    .pullout {
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        right: 0;
        height: 400px;
        background-color: #ffffff;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(80%);
        transition: transform 0.3s ease;
        z-index: 1000;
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
        flex-direction: column;
    }

    .line {
        display: flex;
        justify-content: center;
    }

    .pullout.open {
        transform: translateY(0);
        overflow-y: auto;
    }
    
    #map {
        position: relative;
        width: 100%;
        height: 845px;
        overflow: hidden;
    }
    .card_title p{
        margin-top:15px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
    }

}